# by default ignore top-level pdf
/*.pdf

# some typical editor bak files
*~
*.bak
*.orig

# ignore a whole lot of latex specific tempfiles
*-blx.bib
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.backup
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.gls
*.glg
*.ist
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.run.xml
*.slg
*.syg
*.syi
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.tdo
*.toc
*.xdy
*.sls
*.slo

# dev-specific stuff
*.bat
*.tps

desktop.ini
*-blx.bib
*.run.xml
*.fdb_latexmk
*.fls
*.bcf
*.bib.bak
*.bib.sav
*_contourtmp[0-9].*
